// Banner Styles
@use 'variables' as *;
@use 'mixins' as *;

.home-banner {
    margin: 0 auto;
}


.home-banner img {
    display: block; 
} 

.about-banner {
    margin: 0.4em;
}


@media (min-width: 920px) {
    .home-banner img {
        width: 100%;
        height: 550px;
    }
}