// Styles for three linked lessons pages
@use 'variables' as *;
@use 'mixins' as *;


.column{
    display: block;
    text-align: left;
    padding: 5px;
}

.inform {
    color: red;
    font-size: 1.2em;
}
.column:nth-of-type(even) {
    background: #FBE8A6;
  }

main{
    border: solid 2px #303c6c;
}

.column h1, h2 {
    // background-color: #303c6c;
    // color: #FBE8A6;
    padding: 5px;
}

.column h2{
    background-color: #303c6c;
    color: #FBE8A6;
    padding: 5px;
    margin: initial;
}

.column a{
    text-decoration: none;
    color: #303c6c;
    text-shadow: burlywood;
    font-size: large;
    font-weight: bold;
}

code{
    display: block;
    background-color: white;
    padding: 5px;
}

.imgs{
    display: inline-block;

}

.imgs img{
    float: left;
    padding-right:10px ;
}

.go-back {
    @include intlink;
}

@media (max-width: 420px) {
    .imgs img{
        float: left;
        max-width: 45%;
    }
}



// @media (min-width:750px) {
//     main {
//         width: 100%;
//         display:grid;
//         grid-gap: 10px;
//         grid-template-columns: 1fr 1fr;
//         grid-auto-rows: minmax(100px, auto) ;
//         grid-template-areas: " one two" 
//                                 " three  four"
//                             // "three three"
//                             "five five "
//                             "six six"
//                             "seven eight"
//                             "nine nine"
//                             "ten eleven"
//                             "twelve twelve"
//                             "thirteen fourteen"
//                             "fifteen fifteen"
//                             "sixteen seventeen"
//                             "eighteen eighteen"
//                             "nineteen  twenty"
        
//             ;
//     }

//     .p1 {
//         grid-area: one;
//     }

//     .p2 {
//         grid-area:two;
//     }

//     .p3 {
//         grid-area: three;
//     }

//     .p4 {
//         grid-area: four;
//     }


//     .p5 {
//         grid-area: five;
//     }

//     .p6 {
//         grid-area:six;
//     }

//     .p7 {
//         grid-area: seven;
//     }

//     .p8 {
//         grid-area: eight;
//     }


//     .p9 {
//         grid-area: nine;
//     }

//     .p10 {
//         grid-area:ten;
//     }

//     .p11 {
//         grid-area: eleven;
//     }

//     .p12 {
//         grid-area: twelve;
//     }


//     .p13 {
//         grid-area: thirteen;
//     }

//     .p14 {
//         grid-area: fourteen;
//     }

//     .p15 {
//         grid-area: fifteen;
//     }

//     .p16 {
//         grid-area: sixteen;
//     }

//     .p17 {
//         grid-area: seventeen;
//     }

//     .p18 {
//         grid-area: eighteen;
//     }

//     .p19 {
//         grid-area: nineteen;
//     }
    
//     .p20 {
//         grid-area: twenty;
//     }

// }