// About page styles

@use 'variables' as *;
@use 'mixins' as *;

.about-banner img {
    border: 2px solid $brandColor1;
    padding: 0.2em;
    margin: 0 auto;
}

.course-info {
    padding: 0.1em;
}

.row {
    border: 2px solid $brandColor1;
    text-align: left;
    margin: 0.5em;
    padding: 1em;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.3em;
}

.row h2 {
    text-align: center;
    margin-bottom: 0.9em;
}

.evaluation,
.pre,
.start {
    text-align:  center;
}

.start  li,
.pre  li{
    list-style-type: none;
}

table {
    margin: 0 auto;
}

table th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(odd) {background-color: #f2f2f2;}


@media (min-width: 720px) {

    .about-banner img {
        border: none;
        padding: 0;
    }

    .row {
        margin: 0;
        background-color: $brandColor5;
    }

    .course-info {
        margin-bottom: 0.5em;;
        padding:0.5em ;
        background-color: $wrapperBgColor;
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows:minmax(100px, auto) ;
        grid-template-areas:    "one one two two  "
                                "four three three three"
                                "five three three three"
                                "five three three three" ;

    
    }

    .pre {
        grid-area: one;
    }

    .start {
        grid-area: two;
    }

    .outline {
        grid-area: three; 
    }

    .evaluation {
        grid-area: four;
    }

    .idecor {
        grid-area: five;
    }

}
