// Styles for Schedule Page


@use 'variables' as *;
@use 'mixins' as *;

// General body styles are transferred from styles of home page.

h1, h2, h3 {
    font-family: $headingFont;
}

p { 
    font-family: $bodyFont;
    font-weight: 600;

}

.agenda {
    font-weight: 600;
    border: 2px solid $brandColor1;
    text-align: center;
    margin: 0.5em;
    color: $brandColor1;
    padding-bottom: 0.5em;
}

.agenda ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.agenda h2 {
    @include intlink;
}

.ag-odd {
    background:$brandColor6;
}

.ag-even {
    background-color:$brandColor2;
}

.ag6,
.ag12 {
    background-color: $brandColor5;
}

// Grid Styles 


@media (min-width: 740px) {
    
    .agenda:hover  {
        transform: scale(1.1);
        border: 1px solid $brandColor3; 
    }

    
    .sch-container  {     
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "one two three"
                                "four five six"
                                "seven eight nine"
                                "ten eleven twelve" ;
    }

 
    .ag1 { 
        grid-area: one;
    }

     .ag2 {
         grid-area: two;
    }

     .ag3 {
         grid-area: three;
    }

     .ag4 { 
        grid-area: four;
    }

     .ag5 {
         grid-area: five;
    }

     .ag6 {
         grid-area: six;
    }



    .ag7 { 
        grid-area: seven;
    }

     .ag8 {
         grid-area: eight;
    }

     .ag9 {
         grid-area: nine;
    }

     .ag10 { 
        grid-area: ten;
    }

     .ag11 {
         grid-area: eleven;
    }

     .ag12 {
         grid-area: twelve;
    }

    .placeholder {
        height: 80px;
        margin: 0.3em;
        color: $brandColor1;
        border: 2px solid $brandColor1;
    }

    .placeholder h2 {
        padding-top: 0.5em;
    }

}


@media (min-width: 920px) {


    .sch-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "one two three four"
                                "five six seven eight"
                                "nine ten eleven twelve ";
                            
    }


    .placeholder {
        border: none;
        height: 180px;
        padding-top: 0.3em;
    }

}



    

