// Contact Page Styles
@use 'variables' as *;
@use 'mixins' as *;

fieldset {
    margin: 0 auto;
    padding: 2em 0;
    width: 85%;
    font-size: 1.4em;
    font-weight: 600;
}

form label {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
    padding-top: 5px;
    text-align: right;
}

input {
    height: 30px;
}