body {
    color: maroon;
    font-size: 100%;
    margin:0 auto;
    /* padding:0 auto; */
    font-family: Raleway;
    text-align: center;

}

.wrapper-home {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 1px;
}

