// Styles for three linked lessons pages
@use 'variables' as *;
@use 'mixins' as *;


.column{
    display: block;
    text-align: left;
    padding: 5px;
}

.inform {
    color: red;
    font-size: 1.2em;
}
.column:nth-of-type(even) {
    background: #FBE8A6;
  }

main{
    border: solid 2px #303c6c;
}

.column h1, h2 {
    padding: 5px;
    font-size: 1.5em;
}

.column h2{
    background-color: #303c6c;
    color: #FBE8A6;
    padding: 5px;
    margin: initial;
}

.column a{
    text-decoration: none;
    color: #303c6c;
    font-size: large;
    font-weight: bold;
}

code{
    display: block;
    background-color: white;
    padding: 5px;
}

.imgs{
    display: inline-block;

}

.imgs img{
    float: left;
    padding-right:10px ;
}

.go-back {
    @include intlink;
}

@media (max-width: 620px) {
    .column h1 {
        font-size: 1.1em;
    }
}


@media (max-width: 420px) {
    .imgs img{
        float: left;
        max-width: 45%;
    }
    .column h1 {
        font-size: 1em;
    }

}



