// Styles for Home Page


@use 'variables' as *;
@use 'mixins' as *;


body {
    background-color: $brandColor5;
    color: $brandColor1;
    font-size: 100%;
    margin:0 auto;
    text-align: center;

}
.tile h1 {
    font-size: 1.4em;
}

.tiles-home {
    margin: 1em auto;
}

.welcome1 {
    color: $brandColor1;
}

.welcome2 {
    background-color: $brandColor1;
    color: $brandColor5;
    padding: 0.9em;
    line-height: 1.8em;
    font-size: 1.1em;
    margin: 1em auto;
}


h2 {
    margin: 0.5em 1.4em;
}

.benefits  {
    text-align: left;
    margin: 0 auto;
    border: 2px solid $brandColor1;
    width: 95%;
    line-height: 1.2em;
    font-size:  1.2em;
}

.box {
    border: 2px solid $brandColor1;
    width: 70%;
    line-height: 1.4em;
    font-size:  0.8em;
    margin: 0 auto;
    margin-top: 1em;
    background-color:$brandColor2;   
}

.box  {
    @include intlink;
    font-size:  0.8em;
}

.box p a {
    font-size: 1.4em;
    font-weight: 800;
}

.decor {
    display: none;    
}

.decor img {
    width: 100%;
    height: 100%;
}

article {
    display: none;
    background-color: $brandColor2;
    font-size:  1.1em;
    padding: 0.1em 0 0.5em 0 ;
}

@media (min-width :740px) { 

    .wrapper-home {
        width: 100%;
    }

    .utube {
        display: block;
    }
    
    .welcome1 h1,
    .welcome1 p  {
        font-size: 1.7em;
    }

    .welcome2 {
        font-size: 0.6em;
        margin-left:0.5em;
    }

    .decor {
        display: block;
        width: 100%;
        height: 280px;
        border: 2px solid $brandColor1;
    }

    .box {
        width: 100%;
    }

    .box2 {
        margin:0;
    }
     
    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tiles-home {
        margin:0 0 0.5em 0;
        display: grid;
        grid-gap:10px ;
        grid-template-columns: 2fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto) ;

        grid-template-areas: 
                " one one  five"
                "two two four"
                "two two four"
                "three three six"   ;
    }       

     
    .welcome1 {
        grid-area: one;
    }

    .welcome2 {
        grid-area: two;
    }

    .benefits { 
        grid-area: three;
    }

    .decor {
    grid-area: four;
    }
            
    .box1 {
        grid-area: five;
    }

    .box2 {
        grid-area: six;
    }

}


@media (min-width: 920px) {
    body { 
        background-image: url('../images/bck-grnd.png');
        background-attachment: fixed;
        background-repeat: repeat;
    }
}