// Header Styles
@use 'variables' as *;
@use 'mixins' as *;



header {
    width: 100%;
    // height: auto;
    margin: 0 auto;
    // padding-bottom: 0.05em;
    background-color: $brandColor1Light;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // border: 1px solid gold;
    
}

header a {
    text-decoration: none;
}

header img {
    // padding-right: 0.5em;
    margin-right:   1.5em;
}




.logo {
    width: 100%;
    // border: 1px solid black;
    padding-left: 1em;
    color: $brandColor5;
}
.menu-btn { 
    width: 55px;
    height: 40px;
    padding: 5px;
}

.show header nav {
    display:block;
}


