

// @use 'variables' as *;

// intlink is for internal hyperlinks

@mixin intlink {
    a {
        text-decoration: none;
        color: #e6625b ;
        &:hover, 
        &:focus {
            color:#CCCCCC ;
            background-color: #303c6c;
        }
    }
}