

// @use 'variables' as *;

// intlink is for internal hyperlinks

@mixin intlink {
    a {
    text-decoration: none;
    // color: ;
   
    
   &:hover, 
   &:focus {
        color:#CCCCCC ;
        background-color: #303c6c;
    }
    


    // #{$hover} {
    //     background-color: rgba(rgb(211, 53, 53), 0.3);
    // }

    }


}