// Reset

* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    // border: 2px solid green;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
}