// Master Variables

@use '_mixins' as *;



$brandColor1: #303c6c ;
$brandColor1Dark: darken($brandColor1, 20);
$brandColor1Light: lighten($brandColor1, 10);

$bodyBgColor: #303030;
$wrapperBgColor: white;

$brandColor2: #FBE8A6;
$brandColor3: #F4976C;
$brandColor4: #6c4b30;
$brandColor5: #CCCCCC;
$brandColor6: #D2FDFF;


// Text Color

$txtColorDark: black;
$txtColorLight: white;

// Fonts
$headingFont : georgia; 
$bodyFont: helvetica;
$lineHeight : 1.4;


// Utility variable

$hover: '&:hover, &:focus, &:active';
$desktop: em(900);
$tablet: em(640);
