@use 'variables' as *;
@use 'mixins' as *;

.wrapper-home, 
.wrapper-schedule,
.wrapper-lesson,
.wrapper-about,
.wrapper-contact
 {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    background-color: $brandColor5;
   
}

.wrapper-lesson {
    padding: 0.25em;
}








