* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

body {
  background-color: #CCCCCC;
  color: #303c6c;
  font-size: 100%;
  margin: 0 auto;
  text-align: center;
}

.tile h1 {
  font-size: 1.4em;
}

.tiles-home {
  margin: 1em auto;
}

.welcome1 {
  color: #303c6c;
}

.welcome2 {
  background-color: #303c6c;
  color: #CCCCCC;
  padding: 0.9em;
  line-height: 1.8em;
  font-size: 1.1em;
  margin: 1em auto;
}

h2 {
  margin: 0.5em 1.4em;
}

.benefits {
  text-align: left;
  margin: 0 auto;
  border: 2px solid #303c6c;
  width: 95%;
  line-height: 1.2em;
  font-size: 1.2em;
}

.box {
  border: 2px solid #303c6c;
  width: 70%;
  line-height: 1.4em;
  font-size: 0.8em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: #FBE8A6;
}

.box {
  font-size: 0.8em;
}
.box a {
  text-decoration: none;
  color: #e6625b;
}
.box a:hover, .box a:focus {
  color: #CCCCCC;
  background-color: #303c6c;
}

.box p a {
  font-size: 1.4em;
  font-weight: 800;
}

.decor {
  display: none;
}

.decor img {
  width: 100%;
  height: 100%;
}

article {
  display: none;
  background-color: #FBE8A6;
  font-size: 1.1em;
  padding: 0.1em 0 0.5em 0;
}

@media (min-width: 740px) {
  .wrapper-home {
    width: 100%;
  }

  .utube {
    display: block;
  }

  .welcome1 h1,
.welcome1 p {
    font-size: 1.7em;
  }

  .welcome2 {
    font-size: 0.6em;
    margin-left: 0.5em;
  }

  .decor {
    display: block;
    width: 100%;
    height: 280px;
    border: 2px solid #303c6c;
  }

  .box {
    width: 100%;
  }

  .box2 {
    margin: 0;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tiles-home {
    margin: 0 0 0.5em 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: " one one  five" "two two four" "two two four" "three three six";
  }

  /* display: grid;
          grid-row-gap: 1em;
          grid-template-columns: 2fr 1fr;
          grid-auto-rows: minmax(100px, auto) ;
  */
  .welcome1 {
    grid-area: one;
  }

  .welcome2 {
    grid-area: two;
  }

  .benefits {
    grid-area: three;
  }

  .decor {
    grid-area: four;
  }

  .box1 {
    grid-area: five;
  }

  .box2 {
    grid-area: six;
  }
}
@media (min-width: 920px) {
  body {
    background-image: url(../images/bck-grnd.png);
    background-attachment: fixed;
    background-repeat: repeat;
  }
}
.about-banner img {
  border: 2px solid #303c6c;
  padding: 0.2em;
  margin: 0 auto;
}

.course-info {
  padding: 0.1em;
}

.row {
  border: 2px solid #303c6c;
  text-align: left;
  margin: 0.5em;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.3em;
}

.row h2 {
  text-align: center;
  margin-bottom: 0.9em;
}

.evaluation,
.pre,
.start {
  text-align: center;
}

.start li,
.pre li {
  list-style-type: none;
}

table {
  margin: 0 auto;
}

table th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

@media (min-width: 720px) {
  .about-banner img {
    border: none;
    padding: 0;
  }

  .row {
    margin: 0;
    background-color: #CCCCCC;
  }

  .course-info {
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: white;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "one one two two  " "four three three three" "five three three three" "five three three three";
  }

  .pre {
    grid-area: one;
  }

  .start {
    grid-area: two;
  }

  .outline {
    grid-area: three;
  }

  .evaluation {
    grid-area: four;
  }

  .idecor {
    grid-area: five;
  }
}
h1, h2, h3 {
  font-family: georgia;
}

p {
  font-family: helvetica;
  font-weight: 600;
}

.agenda {
  font-weight: 600;
  border: 2px solid #303c6c;
  text-align: center;
  margin: 0.5em;
  color: #303c6c;
  padding-bottom: 0.5em;
}

.agenda ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.agenda h2 a {
  text-decoration: none;
  color: #e6625b;
}
.agenda h2 a:hover, .agenda h2 a:focus {
  color: #CCCCCC;
  background-color: #303c6c;
}

.ag-odd {
  background: #D2FDFF;
}

.ag-even {
  background-color: #FBE8A6;
}

.ag6,
.ag12 {
  background-color: #CCCCCC;
}

@media (min-width: 740px) {
  .agenda:hover {
    transform: scale(1.1);
    border: 1px solid #F4976C;
  }

  .sch-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "one two three" "four five six" "seven eight nine" "ten eleven twelve";
  }

  .ag1 {
    grid-area: one;
  }

  .ag2 {
    grid-area: two;
  }

  .ag3 {
    grid-area: three;
  }

  .ag4 {
    grid-area: four;
  }

  .ag5 {
    grid-area: five;
  }

  .ag6 {
    grid-area: six;
  }

  .ag7 {
    grid-area: seven;
  }

  .ag8 {
    grid-area: eight;
  }

  .ag9 {
    grid-area: nine;
  }

  .ag10 {
    grid-area: ten;
  }

  .ag11 {
    grid-area: eleven;
  }

  .ag12 {
    grid-area: twelve;
  }

  .placeholder {
    height: 80px;
    margin: 0.3em;
    color: #303c6c;
    border: 2px solid #303c6c;
  }

  .placeholder h2 {
    padding-top: 0.5em;
  }
}
@media (min-width: 920px) {
  .sch-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one two three four" "five six seven eight" "nine ten eleven twelve ";
  }

  .placeholder {
    border: none;
    height: 180px;
    padding-top: 0.3em;
  }
}
.les {
  border: 2px solid #303c6c;
  margin: 0.5em;
  font-weight: 600;
  font-size: 1.4em;
  background-color: #D2FDFF;
}
.les a {
  text-decoration: none;
  color: #e6625b;
}
.les a:hover, .les a:focus {
  color: #CCCCCC;
  background-color: #303c6c;
}

@media (min-width: 720px) {
  .les {
    margin: 0;
  }

  .les:hover {
    transform: scale(0.9);
    border: 1px solid #F4976C;
  }

  .les-container {
    margin: 0;
    padding: 3em 1em 6em;
    display: grid;
    grid-gap: 0.4em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "one two three" "four five six" "seven eight nine" "ten eleven twelve";
  }

  .les1 {
    grid-area: one;
  }

  .les2 {
    grid-area: two;
  }

  .les3 {
    grid-area: three;
  }

  .les4 {
    grid-area: four;
  }

  .les5 {
    grid-area: five;
  }

  .les6 {
    grid-area: six;
  }

  .les7 {
    grid-area: seven;
  }

  .les8 {
    grid-area: eight;
  }

  .les9 {
    grid-area: nine;
  }

  .les10 {
    grid-area: ten;
  }

  .les11 {
    grid-area: eleven;
  }

  .les12 {
    grid-area: twelve;
  }
}
@media (min-width: 920px) {
  .les-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "one two three four" "five six seven eight" "nine ten eleven twelve ";
  }
}
h1 {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

form {
  margin: 0 auto;
}

fieldset {
  border: none;
  margin: 10px auto;
  margin-bottom: 10px;
}

.form-container {
  padding: 0.6em;
  margin-bottom: 2em;
  font-size: 1.4em;
  font-weight: 600;
}
.form-container h2 {
  font-size: 1.1em;
}

legend {
  display: inline-block;
}

.input-group {
  margin: 2em auto;
  padding: 5px 0;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #E8EEEF;
}

input:focus {
  border: 5px solid #F4976C;
  border-radius: 4px;
}

.in5 {
  display: flex;
  justify-content: space-evenly;
  margin: 0.4em auto;
}

.in5 p {
  margin: 0 auto;
  font-size: 0.9em;
}

.in5 input {
  background-color: #D2FDFF;
  margin: 0;
  padding: 0;
}

.input-msg {
  padding-top: 20px;
  padding-bottom: 1em;
}

textarea {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #D2FDFF;
}

textarea:focus {
  border: 4px solid #F4976C;
}

.push {
  width: 20%;
  height: 50px;
  background-color: #FBE8A6;
  border-radius: 7px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #303c6c;
  font-size: 1em;
  font-weight: bold;
}

@media (min-width: 740px) {
  .form-container {
    width: 70%;
    background-color: #F4F7F8;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #CCCCCC, 0 0 0 20px #303c6c;
    padding: 0.5px 15px;
    margin: 30px auto;
  }
}
@media (min-width: 920px) {
  .form-container {
    width: 50%;
  }
}
.column {
  display: block;
  text-align: left;
  padding: 5px;
}

.inform {
  color: red;
  font-size: 1.2em;
}

.column:nth-of-type(even) {
  background: #FBE8A6;
}

main {
  border: solid 2px #303c6c;
}

.column h1, h2 {
  padding: 5px;
  font-size: 1.5em;
}

.column h2 {
  background-color: #303c6c;
  color: #FBE8A6;
  padding: 5px;
  margin: initial;
}

.column a {
  text-decoration: none;
  color: #303c6c;
  font-size: large;
  font-weight: bold;
}

code {
  display: block;
  background-color: white;
  padding: 5px;
}

.imgs {
  display: inline-block;
}

.imgs img {
  float: left;
  padding-right: 10px;
}

.go-back a {
  text-decoration: none;
  color: #e6625b;
}
.go-back a:hover, .go-back a:focus {
  color: #CCCCCC;
  background-color: #303c6c;
}

@media (max-width: 620px) {
  .column h1 {
    font-size: 1.1em;
  }
}
@media (max-width: 420px) {
  .imgs img {
    float: left;
    max-width: 45%;
  }

  .column h1 {
    font-size: 1em;
  }
}
header {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.2em;
  background-color: #303c6c;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header a {
  text-decoration: none;
}

header img {
  margin-right: 0.5em;
}

.logo {
  margin: 0;
  width: 100%;
  margin-left: 0.2em;
  color: #FBE8A6;
}

.menu-btn {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.show header nav {
  display: block;
}

@media (min-width: 600px) {
  .logo {
    margin-right: 1em;
  }

  .menu-btn {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}
nav {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding-bottom: 10px;
  list-style: none;
}

nav li {
  flex: 1;
  margin: 1em;
  padding-top: 23px;
  position: relative;
}

nav a {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1em;
  color: #FBE8A6;
  text-transform: uppercase;
  width: 100%;
}

nav a:hover {
  color: #CCCCCC;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #CCCCCC;
  position: absolute;
  top: 0;
  width: 0%;
  padding-left: 0;
  transition: all ease-in-out 250ms;
  margin: 0 auto;
}

nav a:hover::before {
  width: 100%;
}

@media (min-width: 850px) {
  .menu-btn {
    display: none;
  }

  nav {
    display: block;
    width: auto;
    margin-right: 1em;
  }

  nav ul {
    display: flex;
  }

  nav a {
    text-align: center;
  }

  nav a:hover::before {
    width: 100%;
  }
}
.home-banner {
  margin: 0 auto;
}

.home-banner img {
  display: block;
}

.about-banner {
  margin: 0.4em;
}

@media (min-width: 920px) {
  .home-banner img {
    width: 100%;
    height: 550px;
  }
}
.wrapper-home,
.wrapper-schedule,
.wrapper-lesson,
.wrapper-about,
.wrapper-contact {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #CCCCCC;
}

.wrapper-lesson {
  padding: 0.25em;
}

.welcome1,
.welcome2,
.benefits,
article {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
}

footer {
  background-color: #303c6c;
  color: #CCCCCC;
  padding: 0.3em 0 1.1em;
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5em;
}

.three-cols {
  margin: 0.8em;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media (min-width: 720px) {
  footer {
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .three-cols {
    margin: 0;
    padding-top: 0.4em;
  }

  .foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=master.css.map */
